*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EEE;
}

header{
	width: 100%;
	background: #222;
	color: #FFF;
	padding: 1rem;
	margin-bottom: 2rem;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.title{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

.game{
	display: flex ;
	flex-wrap: wrap;
	gap: 1rem;

}

.card {
	border: 2px solid #333;
	border-radius: 5px;
	height: 150px;
	width: 150px;

}

.card-selected {
	background: #999;
	border: 2px solid #372
}

.card-disable{
	color: #333;
	border: 2px solid #999;
}

