*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EEE;
}

header{
	width: 100%;
	background: #222;
	color: #FFF;
	padding: 1rem;
	margin-bottom: 1rem;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

select{
	width: min(90%, 100px);
	margin: .9rem;
	padding: .1rem .2rem;
	margin-left: 0;
	font-size: 1rem;
	font-weight: 600;

	outline-style: none;
	border-radius: 6px;
	border: 1px solid #FFF;
}

button{
	outline-style: none;
	max-height: 2rem;
	min-width: 9rem;
	padding: .3rem;
	border: 1px solid #FFF;
	border-radius: 6px;
	font-size: 1.1rem;
	font-weight: 600;
	background-color: #57b93f;
	color: #FFF;
}

select:hover, button:hover{
	border: 1px solid #666;
	opacity: .8;
	cursor: pointer;
}


.title{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

.start{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.game{
	display: flex ;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;

}

.card {
	border: 2px solid #333;
	border-radius: 5px;
	height: 150px;
	width: 150px;
	position: relative;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.back, .front {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	cursor: default;
}

.back{
	text-align: center;
	font-size: 9rem;
	font-weight: bold;
	font-family: sans-serif;
	color: #999;
	background-color: #eee;
}

.front{
    display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateY(180deg);
}

.front img{
	position: relative;
	width: 100%;
	max-height: 100%;
}

.card-selected {
	border: 2px solid #57b93f;
	transform:rotateY(180deg);
}

.card-disable .back,
.card-disable{
	color: #CCC;
	border: 1px solid #999;
}



@media screen and (max-width: 499px) {

  header{
	flex-direction: column;
	gap: 0.5rem;
  }
}

